<div class="wrapper">
  <div class="header">
    Autómatas
    <button class="btn btn-clean" (click)="clean()">Limpiar</button>
  </div>
  <div class="content">
    <br><br>
    <div *ngIf="elements.length == 0">
      <ngx-file-drop
        accept=".txt"
        dropZoneLabel="Arrastra tu archivo aquí"
        (onFileDrop)="onFileDropped($event)">
      </ngx-file-drop>
      <div class="container-image">
        <img src="assets/img/loading.png" alt="loading">
      </div>
    </div>
    <div *ngIf="elements.length > 0">
      <div class="header-container-file">
        <p>Contenido del archivo</p>
      </div>
      <div class="container-file">
        <pre>{{ fileContent }}</pre>
      </div>
      <br><br>
      <div class="row ms-1">
        <div class="col-md-6">
          <div class="header-elements-container">
            Matriz de transición
          </div>
          <div class="matrix-container">
            <div class="row">
              <div class="col" *ngFor="let i of columns">
                {{i}}
              </div>
            </div> 
            <div class="row" *ngFor="let i of rows">
              <div class="col" *ngFor="let j of i">
                {{j}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 elements-container">
          <div class="row">
            <div class="header-elements-container">
            </div>
            <div class="d-flex justify-content-around mt-4">
              <div class="container-stack" *ngFor="let t of tree">
                <h5 class="mb-3">{{ t['title'] }}</h5>
                <div class="stack">
                  <div class="stackItem" *ngFor="let u of t['elements']">
                    <b>{{u}}</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>